.Option1{
    display: flex;
    list-style: none;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #282c34;
    font-size: 1.4rem;
 
  }
  .buttonNav{
    list-style: none !important;
    text-decoration: none !important;
    font-size: large;
  }
  .buttonNav:focus,
  .buttonNav:hover,
  .buttonNav:active {
    outline: none;
    border: none;
  }
