.Counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
  
  .Controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Number {
    margin: 0 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .Button {
    border: none;
    background-color: #a28145;
    color: white;
    border: solid;
    font-size: 24px;
    cursor: pointer;
    padding: 5px 10px;
    transition: transform 0.2s ease-in-out;
  }
  
  .Button:hover {
    transform: scale(1.1);
  }
  
  .AddToCart {
    margin-top: 20px;
    text-align: center;
  }
  
  .AddToCart button {
    margin-top: 10px;
  }
  